.banner {
  display: flex;
  background-color:#2C5EAD;
  color: white;
  z-index: 100;
}

.top-banner {
  align-items: center;
  justify-content: center;
  height: 200px;
  z-index: 1000;
  color: white;
}

.bottom-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

.bottom-banner a {
  color: white;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 1.5px;
  }
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 3;
  border-radius: 20px;
  padding: 5px;
  margin: 15px;
  flex-direction: column;
}

.pfp {
  height: 100px;
  max-width: 100%;
  flex-shrink: 1;
  object-fit: contain;
  border-radius: 20px;
  margin: 10px;
  
  &:hover {
    cursor: pointer;
  }
}

.sig {
  height: 100px;
  width: max-content;
}

.main-content-text {
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  text-align: center;
}